*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     background: linear-gradient(to left,blue, black);
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
  
}
.box1 h2{
 max-width: 400px;
    color: white;
    margin-top: 95px;

}
.container h1{
  display: flex;
  justify-content: center;
  width: 450px;
  margin-top: 10px;
   margin-left: 380px;
   padding: 10px;
   border-radius: 18px;
  background-color: rgb(149, 0, 0);
    color: rgb(255, 255, 255);
}
.orqa{
     background-color:rgb(149, 0, 0) ;
     margin-left: 1000px;
     top: -40px;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;

}
.span{
     color: red;
}
h2{
    color: white;
}
.box2 h2{
 max-width: 400px;
    color: white;
    margin-top: 95px;
}
.box3 h2{
 max-width: 400px;
    color: white;
    margin-top: 95px;
}
.box4 h2{
 max-width: 400px;
    color: white;
    margin-top: 95px;
}
